// Settings
@import "../../../bower_components/px-colors-design/settings.colors";

// Generic

// Base
@import '../../../bower_components/px-flexbox-design/base.flexbox';
@import "../../../bower_components/px-headings-design/base.headings";
@import "../../../bower_components/px-forms-design/base.forms";

// Meta

// Objects
:host {
    background: $gray16;
}

#refreshTableBtn {
    margin-top: 4px;
    cursor: pointer;
}

#exportBtn {
  line-height: inherit;
  color: #b6c3cc;
  height: 25px;
  vertical-align: middle;
  background-color: #086e87;
  cursor: pointer;
  padding: 0;
  margin: -12px 0 0 10px;
  padding: 0 5px 0 0;
  iron-icon {
    height: 15px;
  }
}

// Trumps
$inuit-enable-paddings : true;
$inuit-enable-paddings--huge : true;
@import "../../../bower_components/px-spacing-design/trumps.spacing";
@import "../../../bower_components/px-widths-responsive-design/trumps.widths-responsive";
