// Settings
@import "../../../bower_components/px-colors-design/settings.colors";

// Generic

// Base
@import '../../../bower_components/px-flexbox-design/base.flexbox';
@import "../../../bower_components/px-headings-design/base.headings";
@import "../../../bower_components/px-forms-design/base.forms";

// Meta

// Objects
:host {
  //background: $gray16;
  background: white;
}

#refreshTableBtn {
  margin-top: 4px;
  cursor: pointer;
}

#exportBtn {
  line-height: inherit;
  color: #b6c3cc;
  height: 25px;
  vertical-align: middle;
  background-color: #086e87;
  cursor: pointer;
  padding: 0;
  margin: -12px 0 0 10px;
  padding: 0 5px 0 0;
  iron-icon {
    height: 15px;
  }
}

// Trumps
$inuit-enable-paddings : true;
$inuit-enable-paddings--huge : true;
@import "../../../bower_components/px-spacing-design/trumps.spacing";
@import "../../../bower_components/px-widths-responsive-design/trumps.widths-responsive";


// create, update, delete todolist buttons
$inuit-enable-btn--primary : true;
$inuit-enable-btn--disabled : true;
@import '../../../bower_components/px-buttons-design/objects.buttons';

div.markdown-html > h1 {
  font-weight: normal;
  font-size: 2.6667rem;
  color: rgb(9, 129, 156);
}
div.markdown-html > h2 {
  margin-top: 0;
  font-size: 1.86667rem;
  font-weight: normal;
}
px-card {
  background: white;
  color: rgb(44, 64, 76);
  --px-card-header-color: black;
}
px-data-table {
  //--px-data-table-header-background-color: yellow;
  //--px-data-table-cell-text-color--selected: black;
}

$inuit-enable-input--regular : true;
$inuit-enable-validation-states : true;
@import '../../../bower_components/px-forms-design/base.forms';