<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="todocreate-view-styles.html"/>

<dom-module id="create-view">
    <template>
        <style include="todocreate-view-styles"></style>

        <div>
            <h1 style="font-family:'Times New Roman'">Enter details for new Todo</h1>
        </div>

        <div class="flex flex--col flex--left flex--middle">
            <form>
                <label for="notetitle" class="">Title</label>
                <input class="text-input"
                       id="notetitle" placeholder="Title of the note">
                <br>
                <br>
                <label for="notecontent" class="">Content</label>
                <input class="text-input" id="notecontent" placeholder="Content of the note">
                <br>
                <br>
                <div class="btn-group">
                    <button class="btn btn--primary" id="notesubmitbutton" on-click="formsubmit">Create</button>
                    <button class="btn" id="notecancelbutton" on-click="formcancel">Cancel</button>
                </div>
            </form>
        </div>

        <iron-ajax
                id="AjaxPost"
                url="http://localhost:9000/api/notes"
                method="POST"
                content-type="application/json"
                handle-as="json"
                on-response="_handleAjaxPostResponse"
                on-error="_handleAjaxPostError"
        ></iron-ajax>

    </template>

    <script>
        Polymer({
            is: 'create-view',
            properties: {
                page:{
                    type: String,
                    notify: true
                }
            },

            formsubmit: function(e, detail) {
                var temp = {};
                temp.title = this.$.notetitle.value;
                temp.content = this.$.notecontent.value;
                this.$.notetitle.value = "";
                this.$.notecontent.value = "";
                this.$.AjaxPost.body = { "title": temp.title, "content": temp.content };
                this.$.AjaxPost.generateRequest();
                this.page = "mylist";
            },

            formcancel: function () {
                this.page = 'mylist';
            },
            _handleAjaxPostResponse: function () {
                
            },
            _handleAjaxPostError: function () {
                
            }

        });
    </script>
</dom-module>
