<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html"/>
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html"/>
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="../../bower_components/px-modal/px-modal.html"/>
<link rel="import" href="./todocreate-view-styles.html"/>

<dom-module id="list-view">
    <template>
        <style include="todocreate-view-styles">
        </style>

        <px-data-table id="notesTable" table-data={{notesTableData}}
                       language="en"
                       sortable
                       selectable
                       single-select>
        </px-data-table>

        <px-card>
            <button id="createButton"  on-click="createTodo" class="btn btn--primary">New</button>
            <button id="updateButton" on-click="updateTodo" class="btn btn--primary">Edit</button>
            <!--<button id="deleteButton" on-click="deleteTodo" class="btn btn&#45;&#45;tertiary">Delete</button>-->
            <px-modal-trigger trigger='{{trigger}}'>
                <button id="deleteButton" class='btn btn--tertiary'>Delete</button>
            </px-modal-trigger>
        </px-card>

        <px-modal
                id="confirmModal"
                header-text="Confirm delete"
                body-text="Do you want to delete this record? The record will be deleted permanently."
                accept-text="Permanently Delete Record"
                reject-text="Cancel"
                open-trigger="[[trigger]]">
        </px-modal>

        <iron-ajax
                id="deleteNoteData"
                method="DELETE"
                handle-as = "json"
                on-response="handleResponseDeleteNoteData">
        </iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'list-view',
            properties: {
                page:{
                    type: String,
                    notify: true,
                    observer: '_pageChanged'
                },
                notesTableData:{
                    type: Array,
                    notify: true
                },
                todo: {
                    type: Object,
                    notify: true
                },
                trigger:{
                    type: Boolean
                }
            },

            ready: function() {
                var updateButton = this.$.updateButton;
                var createButton = this.$.createButton;
                var deleteButton = this.$.deleteButton;
                updateButton.classList.add("btn--disabled");
                deleteButton.classList.add("btn--disabled");

                this.$.notesTable.addEventListener("px-row-click", function(e) {
                    var temp = {};
                    temp.id = e.detail.row.row.id.value;
                    temp.title = e.detail.row.row.title.value;
                    temp.content = e.detail.row.row.content.value;
                    this.todo = temp;
                    if(e.detail.row._selected){
                        createButton.classList.add("btn--disabled");
                        updateButton.classList.remove("btn--disabled");
                        deleteButton.classList.remove("btn--disabled");
                    } else {
                        updateButton.classList.add("btn--disabled");
                        deleteButton.classList.add("btn--disabled");
                        createButton.classList.remove("btn--disabled");
                    }
                }.bind(this));

                var modal = this.$.confirmModal;
                var del = this.$.deleteNoteData;
                modal.addEventListener('px-modal-rejected', function(e) {
                    // ... handle reject action here ...
                    // nothing to be done
                });
                modal.addEventListener('px-modal-accepted', function(e) {
                    // ... handle accept action here ...
                    console.log("todo",e);
                    del.url = "http://localhost:9000/api/notes/"+this.todo.id;
                    del.generateRequest();
                });

            }
            ,createTodo: function (e) {
                this.page = "mycreate";
            }
            ,updateTodo: function (e) {
                this.page = "myupdate";
            },
            handleResponseDeleteNoteData: function () {
                this.page = "mylist";
            }

        });
    </script>
</dom-module>
