<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html"/>
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html"/>
<link rel="import" href="todolist-view-styles.html"/>

<dom-module id="todolist-view">
  <template>
    <style include="todolist-view-styles"></style>
      <px-data-table id="mytodotable" table-data={{mytabledata}}
                     language="en"
                     sortable
                     selectable
                     single-select>
        <px-data-table-column name='title'></px-data-table-column>
        <px-data-table-column name='content'></px-data-table-column>
      </px-data-table>

      <px-card>
        <button id="myTodoNewButton"  on-click="newTodo" class="btn ">New</button>
        <button id="myTodoUpdateButton" on-click="updateTodo" class="btn ">Update</button>
      </px-card>

  </template>
  <script>
    Polymer({
      is: 'todolist-view',
      properties: {
          page:{
            type: String,
              notify: true
          },
          mytabledata:{
              type: Array,
              notify: true
          },
          clickedrowindex: {
              type: Number,
              notify: true,
              observer: 'rowchanged'
          },
      },

        rowchanged: function(){
          console.log("rowchanged",this.clickedrowindex);
        },


      ready: function() {
        var updateButton = this.$.myTodoUpdateButton;
        var newButton = this.$.myTodoNewButton;
        this.$.mytodotable.addEventListener("px-row-click", function(e) {
            var temp = {};
            temp.title = e.detail.row.row.title.value;
            temp.content = e.detail.row.row.content.value;
            this.clickedrowindex = e.detail.row.row.dataIndex;
            // this.set('clickedrowindex',e.detail.row.row.dataIndex);
            console.log('row clicked',this.clickedrowindex);
            if(e.detail.row._selected){
                newButton.classList.add("btn--disabled");
                updateButton.classList.remove("btn--disabled");
            } else {
                updateButton.classList.add("btn--disabled");
                newButton.classList.remove("btn--disabled");
            }
        });
        updateButton.classList.add("btn--disabled");
      }
      ,newTodo: function (e) {
          this.page = "create";
      }

      ,updateTodo: function (e) {
          this.page = "update";
      }

    });
  </script>
</dom-module>
