// Settings
@import "px-colors-design/_settings.colors.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Generic

// Base
@import 'px-flexbox-design/_base.flexbox.scss';
@import "px-headings-design/_base.headings.scss";
$inuit-enable-input--regular : true;
@import "px-forms-design/_base.forms.scss";

// Meta

// Objects
// create, update, delete todolist buttons
$inuit-enable-btn--primary : true;
$inuit-enable-btn--disabled : true;
@import 'px-buttons-design/_objects.buttons.scss';

:host {
    --px-data-table-cell-background-color--selected: $select-default;
    --px-data-table-cell-text-color--selected: white;
}



