<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="todocreate-view-styles.html"/>

<dom-module id="update-view">
    <template>
        <style include="todocreate-view-styles"></style>

        <div>
            <h1 style="font-family:'Times New Roman'">Update the details of Todo</h1>
        </div>

        <div class="flex flex--col flex--left flex--middle">
            <form ad="adddeafaultdata">
                <label for="notetitle" class="">Title</label>
                <input class="text-input input--small"
                       id="notetitle" type="text" placeholder="Title of the note"
                       value="{{todo.title::input}}"
                >
                <br>
                <br>
                <label for="notecontent" class="">Content</label>
                <input class="text-input input--large"
                       value="{{todo.content::input}}"
                       id="notecontent" type="text" placeholder="Content of the note">
                <br>
                <br>
                <div class="btn-group">
                    <button class="btn btn--primary" id="notesubmitbutton" on-click="formsubmit">Update</button>
                    <button class="btn" id="notecancelbutton" on-click="formcancel">Cancel</button>
                </div>
            </form>
        </div>

        <iron-ajax
                id="updateNoteData"
                content-type="application/json"
                handle-as="json"
                on-response="_handleAjaxPutResponse"
                on-error="_handleAjaxPutError">
        </iron-ajax>

    </template>

    <script>
        Polymer({
            is: 'update-view',
            properties: {
                page:{
                    type: String,
                    notify: true
                },
                todo: {
                    type: Object,
                    notify: true
                }

            },

            formsubmit: function () {
                this.$.updateNoteData.method = 'PUT';
                this.$.updateNoteData.url = "http://localhost:9000/api/notes/" + this.todo.id;
                console.log("note id in update:",this.$.updateNoteData.url);
                this.$.updateNoteData.body = { "title": this.todo.title, "content": this.todo.content };
                this.$.updateNoteData.generateRequest();
                this.todo = {};
                this.page = "mylist";
            },

            formcancel: function () {
                this.todo = {};
                this.page = 'mylist';
            },
            _handleAjaxPutResponse (data) {
                var updatedTodo = data.detail.response;
                this.fire('update-view-update');

            }
        });
    </script>
</dom-module>
